<!DOCTYPE html>
<html>

<head>
  <title>Page introuvable</title>
  <link rel="stylesheet" href="/css/404V1.css">
</head>
<body>
  <h1>404</h1>
  <p>Oups! Cette page est introuvable.</p>
  <a href="/">Retourner à l'accueil</a>
</body>

</html>